{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{>back-button}}    {{!-- пыдключаэмо компонент back-button --}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Підтвердження пошти</h1>
        {{!-- <span class="field__label" style="color: blue; font-style: italic;">код відновлення направлено на пошту</span> --}}

        <p class="page__subtitle">На вашу пошту надіслано код для підтвердження облікового запису. Введіть його сюди</p>

        <div class="form">
            <div class="form__item">
                {{>field action='signupConfirmForm.change' label='Код підтвердження' name='code' type='number' placeholder='введіть код'}} {{!-- підключаємо компонент field для code --}}
                <span name="code" class="form__error">Помилка</span>
            </div>
        </div>

        <button onclick="signupConfirmForm.submit();" class="button button--disabled" type="button">Підтвердити</button>

        <span class="alert alert--disabled">Внимание, ошибка!</span>

        <span class="link__prefix">Відправити код ще раз?
            <a href="/signup-confirm" class="link" id="renew">Відправити</a>
        </span>
    </form>
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}